@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500&display=swap');
@import "prism-atom-dark";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-grey-900;
    font-family: "Open Sans", sans-serif;
}

.blue-to-indigo-gradient {
    @apply bg-gradient-to-r from-blue-500 via-blue-600 to-indigo-700;
}

h1 {
    @apply text-2xl font-bold;
}

h2 {
    @apply text-xl font-bold;
}

pre {
  max-width: 100vw;
}

.app-text-xs {
    font-size: 12px;
}